$color-text: #f0f0f0;
$color-secondary-text: rgba($color-text, 0.7);
$color-dim-text: rgba($color-text, 0.5);
// $color-header: #5bb7d1;
$color-header-text: #000;
$color-header-secondary-text: rgba($color-header-text, 0.50);
$color-background: #262626;
$color-button: #636363;
$color-button-text: #fff;
$color-active: #35a1bf;
$color-monitor-text: #e6e6e6;

$accent-color: #35a1bf;
$color-active-gray: #3b3b3b;

$color-header: $accent-color;
