<!-- <div class="drive-main"> -->

<!-- <img class="monitor" [src]="image ? 'assets/monitor-blank.svg' : 'assets/monitor-blue.svg'" [width]="scale * 192" [height]="scale * 130"> -->
<!-- <img class="drive-image" [src]="floppy ? 'assets/drive-floppy.svg' : 'assets/drive.svg'" [width]="scale * 99" [height]="scale * 85"> -->
<img class="drive-image" [src]="floppy ? 'assets/drive-floppy.svg' : 'assets/drive.svg'">

<!-- <img *ngIf="image" class="overlay" [src]="image" [width]="scale * 158" [height]="scale * 95"> -->

<!-- <span class="message">{{message}}</span> -->
<!-- <span class="drive-label">{{drive}}</span> -->
<!-- <span class="file-name">{{filename}}</span> -->

<!-- </div> -->
